/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/mixins.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/colors.scss';
@import '../base/includes/fonts.scss';

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: $font-primary;
}

body {
	@include responsive(s2) {
		font-size: 12px;
	}
	@include responsive(s3) {
		font-size: 11px;
	}
	@include responsive(s4) {
		font-size: 10px;
	}
}

// Buttons

.forlin-button {
	height: 5rem;
	width: 25rem;
	background-color: $color-white;
	border: none;
	color: $color-black;
	padding: 0px;
	border-radius: 40px;
	font-size: 1rem;
	letter-spacing: 0.5px;
	@include transition(0.25s);
	&:hover {
		background-color: transparent;
		color: $color-white;
		border: 1px solid $color-white;
	}
	@include responsive(s2) {
		height: 4.2rem;
		width: 100%;
		font-size: 1rem;
		line-height: 60px;
	}
}

.forlin-button-center {
	width: 15rem;
	font-weight: normal;
	font-size: 1rem;
	margin-left: 50%;
	height: 3.5em;
	color: $color-white !important;
	border-radius: 2.8em;
	background-color: $color-orange !important;
	-webkit-transform: translatex(-7.5rem) !important;
	-moz-transform: translatex(-7.5rem) !important;
	-ms-transform: translatex(-7.5rem) !important;
	transform: translatex(-7.5rem) !important;
	&:hover {
		background-color: transparent!important;
		color: $color-white!important;
		border: 1px solid $color-white!important;
	}
	@include responsive(s2) {
		margin-bottom: 2rem;
		font-size: 1rem;
	}
}

.forlin-button-blue {
	width: 15rem;
	position: relative;
	float: left;
	clear: both;
	margin-top: 2em;
	color: $color-white !important;
	background-color: $color-blue-dark !important;
	&:hover {
		background-color: transparent !important;
		color: $color-white !important;
		border: 1px solid $color-white !important;
	}
}

//Default Background

// Diagonal Section
.diagonal-bottom:after {
	position: absolute;
	content: '';
	border-style: solid;
	border-width: 0 0 10em 100vw;
	border-color: transparent $color-gray $color-gray transparent;
	bottom: 0;
	@include responsive(s2) {
		display: none !important;
	}
}

.diagonal-orange:after{
	border-color: transparent $color-orange $color-orange transparent;
}

.diagonal-blue:after {
	border-color: transparent $color-blue $color-blue transparent;
}

.bgs {
	position: relative;
	float: left;
	width: 100%;
	background-position: top center;
	background-size: cover;
	@include responsive(s2) {
		background-attachment: scroll !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}
}

.title-section {
	color: $color-white;
	font-size: 4.8em;
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	margin-bottom: 0.8em;
	margin-top: 1em;
	&:after {
		content: url('../../../images/forlin-decotation.svg');
		position: absolute;
		bottom: 1em;
		width: 1em;
		height: 8px;
		top: 1em;
		float: left;
		left: 5px;
	}
	@include responsive(s4) {
		font-size: 4.5em;
	}
	@include responsive(s5) {
		font-size: 3em;
	}
}

.title-section-alternative {
	color: $color-orange;
	font-size: 4.8em;
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	margin-bottom: 0em;
	margin-top: 1em;
	@include responsive(s4) {
		font-size: 4.5em;
	}
	@include responsive(s5) {
		font-size: 3em;
	}
}

.title-h2 {
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-primary;
	font-size: 1.8em;
	color: $color-blue-dark;
	margin-bottom: 1.4em;
	line-height: 1.4em;
}

.p-default {
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-secondary;
	font-size: 1.1em;
	color: $color-white;
	margin-bottom: 1.8em;
	line-height: 1.6em;
	@include responsive(s2) {
		font-size: 1.35em;
	}
	span{
		color: $color-orange;
	}
}

.p-light{
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-secondary;
	color: $color-dark-gray;
	font-size: 1em;
}

.no-padding{
	padding: 0px;
}

.padding-left{
	padding-left: 15px;
}

// Forms
.default-input{
	font-family: $font-secondary;
	font-size: 1.3rem !important;
	font-weight: 400;
	background-color: rgba(87, 52, 34, 0.6);
	border: none;
	width: 100%;
	border-radius: 0px!important;
	color: $color-white !important;
	height: 60px;
	padding: 0 1.5em;
	font-size: 1em;
	border: 1px solid transparent;
	margin-bottom: 1em;
	@include transition(0.25s);
	@include responsive(s2) {
		height: 50px;
	}
	@include placeholder($color-white);
}

#form-franchisee,
#form-contact {
	position: relative;
	float: left;
	width: 100%;
}

input,
textarea {
	@extend .default-input;
}

textarea {
	height: 120px;
	padding-top: 1em;
	resize: none;
	border-radius: 0px !important;
}

.fill-message{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
	float: left;
	width: 100%;
	font-family: $font-secondary;
	font-size: 1.1em;
	color: $color-white;
	margin-top: 2em;
	margin-bottom: 0em;
	line-height: 1.6em;
	display:none;
	@include responsive(s2) {
		font-size: 1.35em;
	}
}

.fill-message-contact{
	margin-top: 1em;
	margin-bottom: 1em;
}

.error-form{
	@include transition(0.25s);
	border: 1px solid $color-orange!important;
}

// Carousels
.owl-carousel{
	.owl-dots{
		margin-top: -3em!important;
		position: absolute;
		width: 100%;
		.owl-dot{
			span{
				@include transition(0.25s);
			}
			&:hover {
				span{
					background-color: $color-orange !important;
				}
			}
			&.active{
				span {
					background-color: $color-orange !important;
				}
			}
		}
	}
}

// Sections
.default-section {
	position: relative;
	float: left;
	width: 100%;
}

#home{
	margin-top: 70px;
	@extend .default-section;
	height: calc(100vh - 70px);
	font-family: $font-primary;
	@include responsive(s2) {
		height: auto;
		margin-top: 60px;
	}
	@extend .bgs;
	.container-fluid, #carousel-home, .bg-home {
		height: calc(100vh - 70px);
		@include responsive(s2) {
			height: calc(100vh - 60px);
		}
	}
	.bg-home{
		display: flex;
		justify-content: center;
		align-content: center;
		width: 100%;
		.center-home{
			@extend .default-section;
			height: 300px;
		}
	}
	.title-home {
		color: $color-blue-dark;
		font-size: 4.5em;
		position: relative;
		float: left;
		width: 100%;
		font-weight: normal;
		line-height: 1em;
		@include responsive(s2) {
			margin-bottom: 1em;
			margin-top: 1em;
			font-size: 3.5em;
			text-align: center;
			margin-top: - 20px;
		}
		.extra-big {
			font-size: 8rem;
			color: $color-white;
			@include responsive(s2) {
				font-size: 7rem;
				width: 100%;
				display:block;
				margin: 0;
				text-align: center;
			}
			@include responsive(s3) {
				font-size: 5rem;
			}
		}
	}
	.sub-title-home {
		position: relative;
		float: left;
		width: 100%;
		font-size: 1.1em;
		color: $color-white;
		font-family: $font-secondary;
		margin-bottom: 1.2em;
		line-height: 1.6em;
		text-align: left;
		max-width: 400px;
		font-weight: normal !important;
		@include responsive(s2) {
			margin-bottom: 3em;
			max-width: 100%;
			padding: 0 5%;
			margin-top: 0.2em;
			font-size: 1.4em;
			text-align: center;
		}
	}
	.fill-all-height{
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 70px);
	}
	#forlin-logo-big{
		margin: 0 auto;
		width: 250px;
	}
	.owl-carousel {
		.owl-dots {
			position: absolute;
			width: 100%;
			.owl-dot {
				span {
					@include transition(0.25s);
				}
				&:hover {
					span {
						background-color: $color-blue-dark !important;
					}
				}
				&.active {
					span {
						background-color: $color-blue-dark !important;
					}
				}
			}
		}
	}
	button{
		@include responsive(s2) {
			margin-left: 50%;
			transform: translatex(-50%);
		}
	}
}

#sobre {
	@extend .default-section;
	padding-top: 3em;
	color: $color-white;
	background-color: $color-blue;
	padding-bottom: 200px;
	@include responsive(s2) {
		padding-bottom: 30px;
	}
	.box-img{
		width: 100%;
		height: 130px;
		display: flex;
		margin-bottom: 1em;
		justify-content: start;
		align-items: center;
		@include responsive(s2){
			display:none;
		}
	}
	.icon-mission{
		height: 65px;
	}
	.icon-vision{
		height: 40px;
	}
	.icon-values{
		height: 70px;
	}
	img{
		@include responsive(s2){
			display: none!important;
		}
	}
	h1{
		margin-bottom: 1.3em;
	}
	h2{
		color: $color-white;
		font-size: 2.5em;
		text-align: left;
	}
	.row-items{
		p {
			text-align: left;
		}
	}
	.decoration-logo{
		background-image: url('../../../images/forlin-logo-decoration-about.svg');
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		bottom: -50px;
		right: 7%;
		height: 440px;
		width: 440px;
		z-index:10;
		@include responsive(s1) {
			right: -3%;
		}
		@include responsive(s2) {
			display: none !important;
		}
	}
}

#produtos{
	@extend .default-section;
	padding-bottom: 10em;
	.p-default{
		color: $color-dark-gray;
	}
	.decoration-coins{
		background-image: url('../../../images/forlin-decoration-coins.svg');
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		bottom: -138px;
		right: -178px;
		height: 555px;
		width: 555px;
		z-index:10;
		@include responsive(s2) {
			display: none !important;
		}
	}
	.forlin-button-orange{
		background-color: $color-orange;
		width: 15rem;
		position: relative;
		float: left;
		clear: both;
		margin-top: 3em;
		color: $color-white !important;
		&:hover{
			background-color: $color-blue;
			border-color: $color-blue;
		}
	}
	button {
		@include responsive(s2) {
			width: 15rem;
			left: 50%;
			margin-left: -7.5rem;
		}
	}
}

#moedas{
	@extend .default-section;
	background-color: $color-blue;
	padding-bottom: 8em;
	padding-top: 2.5em;
	.title-section-alternative{
		color: $color-orange!important;
	}
	.title-h2{
		color: $color-white;
	}
	.row-items{
		margin-top: 4em;
		text-align: center;
		img{
			margin: 0 auto;
			width: 60px;
			margin-bottom: 1em;
			margin-top: 2em;
		}
		h3{
			color: $color-white;
			font-size: 2em;
		}
		p{
			margin-top: 2em;
		}
	}
}

#contato {
	@extend .default-section;
	background-color: $color-blue-dark;
	margin-bottom: 0em;
	padding-bottom: 8em;
	@include responsive(s2) {
		padding-bottom: 0em;
	}
	.row-contato {
		.title-section {
			text-align: center;
			color: $color-white;
			&:after {
				content: url('../../../images/forlin-decotation.svg');
				position: absolute;
				bottom: 1em;
				width: 1em;
				height: 8px;
				top: 1em;
				float: left;
				left: 5px;
				margin-left: 50%;
				transform: translatex(-50%);
			}
		}
		.title-h2{
			text-align: center;
			color: $color-white;
			font-size: 1.4em;
			font-family: $font-secondary;
			margin-bottom: 2.5em;
		}
	}
	#form-contact{
		input, textarea{
			border-radius: 10px;
			background-color: $color-white;
			color: $color-dark-gray!important;
			margin-bottom: 1.4em;
			@include placeholder($color-dark-gray);
			@include responsive(s2){
				font-size: 1.4em !important;
			}
		}
		button{
			width: 15em;
			margin-top: 1em;
			margin-bottom: 3em;
			margin-left: 50%;
			-webkit-transform: translatex(-7.5rem) !important;
			-moz-transform: translatex(-7.5em) !important;
			-ms-transform: translatex(-7.5em) !important;
			transform: translatex(-7.5em) !important;
			background-color: $color-orange;
			color: $color-white;
			border: 1px solid $color-very-dark-gray;
			&:hover{
				background-color: $color-blue;
				border: 1px solid $color-blue;
				color: $color-white;
			}
		}
	}
	.row-items{
		margin-top: 6em;
		margin-bottom: 6em;
		.circle{
			background-color: $color-blue;
			border-radius: 50%;
			width: 250px;
			height: 250px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			@include responsive(s2) {
				width: 180px;
				height: 180px;
				margin-bottom: 4em;
			}
			img{
				height: 80px;
				width: 80px;
				margin:0 auto;
				@include responsive(s2) {
					height: 50px;
					width: 50px;
				}
			}
			h2{
				color: $color-white;
				font-size: 1.5em;
			}
			p{
				color: $color-orange;
				font-size: 1em;
			}
		}
	}
}

footer{
	@extend .default-section;
	font-family: $font-secondary;
	padding-top: 3em;
	padding-bottom: 2em;
	color: $color-white;
	background-color: $color-orange;
	p{
		margin-bottom: 0.1em;
	}
	.col-left{
		img {
			height: 50px;
			margin-bottom: 1em;
			@include responsive(s2) {
				display: none!important;
			}
		}
		@include responsive(s2){
			text-align: center;
		}
		ul{
			max-width: 280px;
			margin: 0;
			margin-bottom: 1em;
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			li{
				list-style: none;
				a{
					img{

					}
				}
			}
		}
	}
	.col-right{
		img{
			height: 50px;
			margin-bottom: 1em;
			@include responsive(s2) {
				margin-top: 1.5em;
				margin-bottom: 1.5em;
			}
		}
		text-align: right;
		@include responsive(s2) {
			text-align: center;
		}
	}
}