@font-face {
  font-family: "NexaFreeBoldwebfont";
  src: url("../../../fonts/NexaFreeBoldwebfont.eot?") format("eot"), url("../../../fonts/NexaFreeBoldwebfont.woff") format("woff"), url("../../../fonts/NexaFreeBoldwebfont.ttf") format("truetype"), url("../../../fonts/NexaFreeBoldwebfont.svg#NexaFreeBoldwebfont") format("svg"); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../../fonts/MyriadPro-Regular.eot?") format("eot"), url("../../../fonts/MyriadPro-Regular.woff") format("woff"), url("../../../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../../../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg"); }

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "NexaFreeBoldwebfont", sans-serif; }

@media only screen and (max-width: 992px) {
  body {
    font-size: 12px; } }

@media only screen and (max-width: 768px) {
  body {
    font-size: 11px; } }

@media only screen and (max-width: 480px) {
  body {
    font-size: 10px; } }

.forlin-button {
  height: 5rem;
  width: 25rem;
  background-color: #FFF;
  border: none;
  color: #000;
  padding: 0px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transform: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  .forlin-button:hover {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF; }
  @media only screen and (max-width: 992px) {
    .forlin-button {
      height: 4.2rem;
      width: 100%;
      font-size: 1rem;
      line-height: 60px; } }

.forlin-button-center {
  width: 15rem;
  font-weight: normal;
  font-size: 1rem;
  margin-left: 50%;
  height: 3.5em;
  color: #FFF !important;
  border-radius: 2.8em;
  background-color: #EE7623 !important;
  -webkit-transform: translatex(-7.5rem) !important;
  -moz-transform: translatex(-7.5rem) !important;
  -ms-transform: translatex(-7.5rem) !important;
  transform: translatex(-7.5rem) !important; }
  .forlin-button-center:hover {
    background-color: transparent !important;
    color: #FFF !important;
    border: 1px solid #FFF !important; }
  @media only screen and (max-width: 992px) {
    .forlin-button-center {
      margin-bottom: 2rem;
      font-size: 1rem; } }

.forlin-button-blue {
  width: 15rem;
  position: relative;
  float: left;
  clear: both;
  margin-top: 2em;
  color: #FFF !important;
  background-color: #202945 !important; }
  .forlin-button-blue:hover {
    background-color: transparent !important;
    color: #FFF !important;
    border: 1px solid #FFF !important; }

.diagonal-bottom:after {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 0 0 10em 100vw;
  border-color: transparent #E5E1E6 #E5E1E6 transparent;
  bottom: 0; }
  @media only screen and (max-width: 992px) {
    .diagonal-bottom:after {
      display: none !important; } }

.diagonal-orange:after {
  border-color: transparent #EE7623 #EE7623 transparent; }

.diagonal-blue:after {
  border-color: transparent #2B5597 #2B5597 transparent; }

.bgs, #home {
  position: relative;
  float: left;
  width: 100%;
  background-position: top center;
  background-size: cover; }
  @media only screen and (max-width: 992px) {
    .bgs, #home {
      background-attachment: scroll !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; } }

.title-section {
  color: #FFF;
  font-size: 4.8em;
  position: relative;
  float: left;
  width: 100%;
  font-family: "NexaFreeBoldwebfont", sans-serif;
  margin-bottom: 0.8em;
  margin-top: 1em; }
  .title-section:after {
    content: url("../../../images/forlin-decotation.svg");
    position: absolute;
    bottom: 1em;
    width: 1em;
    height: 8px;
    top: 1em;
    float: left;
    left: 5px; }
  @media only screen and (max-width: 480px) {
    .title-section {
      font-size: 4.5em; } }
  @media only screen and (max-width: 320px) {
    .title-section {
      font-size: 3em; } }

.title-section-alternative {
  color: #EE7623;
  font-size: 4.8em;
  position: relative;
  float: left;
  width: 100%;
  font-family: "NexaFreeBoldwebfont", sans-serif;
  margin-bottom: 0em;
  margin-top: 1em; }
  @media only screen and (max-width: 480px) {
    .title-section-alternative {
      font-size: 4.5em; } }
  @media only screen and (max-width: 320px) {
    .title-section-alternative {
      font-size: 3em; } }

.title-h2 {
  position: relative;
  float: left;
  width: 100%;
  font-family: "NexaFreeBoldwebfont", sans-serif;
  font-size: 1.8em;
  color: #202945;
  margin-bottom: 1.4em;
  line-height: 1.4em; }

.p-default {
  position: relative;
  float: left;
  width: 100%;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 1.1em;
  color: #FFF;
  margin-bottom: 1.8em;
  line-height: 1.6em; }
  @media only screen and (max-width: 992px) {
    .p-default {
      font-size: 1.35em; } }
  .p-default span {
    color: #EE7623; }

.p-light {
  position: relative;
  float: left;
  width: 100%;
  font-family: "MyriadPro-Regular", sans-serif;
  color: #7B7B7B;
  font-size: 1em; }

.no-padding {
  padding: 0px; }

.padding-left {
  padding-left: 15px; }

.default-input, input,
textarea {
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 1.3rem !important;
  font-weight: 400;
  background-color: rgba(87, 52, 34, 0.6);
  border: none;
  width: 100%;
  border-radius: 0px !important;
  color: #FFF !important;
  height: 60px;
  padding: 0 1.5em;
  font-size: 1em;
  border: 1px solid transparent;
  margin-bottom: 1em;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transform: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  @media only screen and (max-width: 992px) {
    .default-input, input,
    textarea {
      height: 50px; } }
  .default-input::-webkit-input-placeholder, input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #FFF; }
  .default-input::-moz-placeholder, input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #FFF; }
  .default-input:-ms-input-placeholder, input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #FFF; }
  .default-input:-moz-placeholder, input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #FFF; }
  .default-input:placeholder-shown, input:placeholder-shown,
  textarea:placeholder-shown {
    color: #FFF; }

#form-franchisee,
#form-contact {
  position: relative;
  float: left;
  width: 100%; }

textarea {
  height: 120px;
  padding-top: 1em;
  resize: none;
  border-radius: 0px !important; }

.fill-message {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
  width: 100%;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 1.1em;
  color: #FFF;
  margin-top: 2em;
  margin-bottom: 0em;
  line-height: 1.6em;
  display: none; }
  @media only screen and (max-width: 992px) {
    .fill-message {
      font-size: 1.35em; } }

.fill-message-contact {
  margin-top: 1em;
  margin-bottom: 1em; }

.error-form {
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transform: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  border: 1px solid #EE7623 !important; }

.owl-carousel .owl-dots {
  margin-top: -3em !important;
  position: absolute;
  width: 100%; }
  .owl-carousel .owl-dots .owl-dot span {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transform: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s; }
  .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #EE7623 !important; }
  .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #EE7623 !important; }

.default-section, #home, #home .bg-home .center-home, #sobre, #produtos, #moedas, #contato, footer {
  position: relative;
  float: left;
  width: 100%; }

#home {
  margin-top: 70px;
  height: calc(100vh - 70px);
  font-family: "NexaFreeBoldwebfont", sans-serif; }
  @media only screen and (max-width: 992px) {
    #home {
      height: auto;
      margin-top: 60px; } }
  #home .container-fluid, #home #carousel-home, #home .bg-home {
    height: calc(100vh - 70px); }
    @media only screen and (max-width: 992px) {
      #home .container-fluid, #home #carousel-home, #home .bg-home {
        height: calc(100vh - 60px); } }
  #home .bg-home {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%; }
    #home .bg-home .center-home {
      height: 300px; }
  #home .title-home {
    color: #202945;
    font-size: 4.5em;
    position: relative;
    float: left;
    width: 100%;
    font-weight: normal;
    line-height: 1em; }
    @media only screen and (max-width: 992px) {
      #home .title-home {
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 2.5em; } }
    #home .title-home .extra-big {
      font-size: 8rem;
      color: #FFF; }
      @media only screen and (max-width: 992px) {
        #home .title-home .extra-big {
          font-size: 1.8em; } }
  #home .sub-title-home {
    position: relative;
    float: left;
    width: 100%;
    font-size: 1.1em;
    color: #FFF;
    font-family: "MyriadPro-Regular", sans-serif;
    margin-bottom: 1.2em;
    line-height: 1.6em;
    text-align: left;
    max-width: 400px;
    font-weight: normal !important; }
    @media only screen and (max-width: 992px) {
      #home .sub-title-home {
        margin-bottom: 0.2em;
        margin-top: 0.2em;
        font-size: 1.4em; } }
  #home .fill-all-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); }
  #home #forlin-logo-big {
    margin: 0 auto;
    width: 250px; }
  #home .owl-carousel .owl-dots {
    position: absolute;
    width: 100%; }
    #home .owl-carousel .owl-dots .owl-dot span {
      -webkit-transition: all 0.25s ease-in-out 0s;
      -moz-transform: all 0.25s ease-in-out 0s;
      -ms-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s; }
    #home .owl-carousel .owl-dots .owl-dot:hover span {
      background-color: #202945 !important; }
    #home .owl-carousel .owl-dots .owl-dot.active span {
      background-color: #202945 !important; }

#sobre {
  padding-top: 3em;
  color: #FFF;
  background-color: #2B5597;
  padding-bottom: 200px; }
  #sobre .box-img {
    width: 100%;
    height: 130px;
    display: flex;
    margin-bottom: 1em;
    justify-content: start;
    align-items: center; }
  #sobre .icon-mission {
    height: 65px; }
  #sobre .icon-vision {
    height: 40px; }
  #sobre .icon-values {
    height: 70px; }
  @media only screen and (max-width: 992px) {
    #sobre img {
      display: none !important; } }
  #sobre h1 {
    margin-bottom: 1.3em; }
  #sobre h2 {
    color: #FFF;
    font-size: 2.5em;
    text-align: left; }
  #sobre .row-items p {
    text-align: left; }
  #sobre .decoration-logo {
    background-image: url("../../../images/forlin-logo-decoration-about.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: -50px;
    right: 165px;
    height: 440px;
    width: 440px;
    z-index: 10; }
    @media only screen and (max-width: 992px) {
      #sobre .decoration-logo {
        display: none !important; } }

#produtos {
  padding-bottom: 10em; }
  #produtos .p-default {
    color: #7B7B7B; }
  #produtos .decoration-coins {
    background-image: url("../../../images/forlin-decoration-coins.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: -138px;
    right: -178px;
    height: 555px;
    width: 555px;
    z-index: 10; }
    @media only screen and (max-width: 992px) {
      #produtos .decoration-coins {
        display: none !important; } }
  #produtos .forlin-button-orange {
    background-color: #EE7623;
    width: 15rem;
    position: relative;
    float: left;
    clear: both;
    margin-top: 3em;
    color: #FFF !important; }
    #produtos .forlin-button-orange:hover {
      background-color: #2B5597;
      border-color: #2B5597; }

#moedas {
  background-color: #2B5597;
  padding-bottom: 8em;
  padding-top: 2.5em; }
  #moedas .title-section-alternative {
    color: #EE7623 !important; }
  #moedas .title-h2 {
    color: #FFF; }
  #moedas .row-items {
    margin-top: 4em;
    text-align: center; }
    #moedas .row-items img {
      margin: 0 auto;
      width: 60px;
      margin-bottom: 1em;
      margin-top: 2em; }
    #moedas .row-items h3 {
      color: #FFF;
      font-size: 2em; }
    #moedas .row-items p {
      margin-top: 2em; }

#contato {
  background-color: #202945;
  margin-bottom: 0em;
  padding-bottom: 8em; }
  #contato .row-contato .title-section {
    text-align: center;
    color: #FFF; }
    #contato .row-contato .title-section:after {
      content: url("../../../images/forlin-decotation.svg");
      position: absolute;
      bottom: 1em;
      width: 1em;
      height: 8px;
      top: 1em;
      float: left;
      left: 5px;
      margin-left: 50%;
      transform: translatex(-50%); }
  #contato .row-contato .title-h2 {
    text-align: center;
    color: #FFF;
    font-size: 1.4em;
    font-family: "MyriadPro-Regular", sans-serif;
    margin-bottom: 2.5em; }
  #contato #form-contact input, #contato #form-contact textarea {
    border-radius: 10px;
    background-color: #FFF;
    color: #7B7B7B !important;
    margin-bottom: 1.4em; }
    #contato #form-contact input::-webkit-input-placeholder, #contato #form-contact textarea::-webkit-input-placeholder {
      color: #7B7B7B; }
    #contato #form-contact input::-moz-placeholder, #contato #form-contact textarea::-moz-placeholder {
      color: #7B7B7B; }
    #contato #form-contact input:-ms-input-placeholder, #contato #form-contact textarea:-ms-input-placeholder {
      color: #7B7B7B; }
    #contato #form-contact input:-moz-placeholder, #contato #form-contact textarea:-moz-placeholder {
      color: #7B7B7B; }
    #contato #form-contact input:placeholder-shown, #contato #form-contact textarea:placeholder-shown {
      color: #7B7B7B; }
    @media only screen and (max-width: 992px) {
      #contato #form-contact input, #contato #form-contact textarea {
        font-size: 1.4em !important; } }
  #contato #form-contact button {
    width: 15em;
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 50%;
    -webkit-transform: translatex(-7.5rem) !important;
    -moz-transform: translatex(-7.5em) !important;
    -ms-transform: translatex(-7.5em) !important;
    transform: translatex(-7.5em) !important;
    background-color: #EE7623;
    color: #FFF;
    border: 1px solid #3B3B3B; }
    #contato #form-contact button:hover {
      background-color: #2B5597;
      border: 1px solid #2B5597;
      color: #FFF; }
  #contato .row-items {
    margin-top: 6em;
    margin-bottom: 6em; }
    #contato .row-items .circle {
      background-color: #2B5597;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      #contato .row-items .circle img {
        height: 80px;
        width: 80px;
        margin: 0 auto; }
      #contato .row-items .circle h2 {
        color: #FFF;
        font-size: 1.5em; }
      #contato .row-items .circle p {
        color: #EE7623;
        font-size: 1em; }

footer {
  font-family: "MyriadPro-Regular", sans-serif;
  padding-top: 3em;
  padding-bottom: 2em;
  color: #FFF;
  background-color: #EE7623; }
  footer p {
    margin-bottom: 0.1em; }
  footer .col-left img {
    height: 50px;
    margin-bottom: 1em; }
    @media only screen and (max-width: 992px) {
      footer .col-left img {
        display: none !important; } }
  @media only screen and (max-width: 992px) {
    footer .col-left {
      text-align: center; } }
  footer .col-left ul {
    max-width: 280px;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .col-left ul li {
      list-style: none; }
  footer .col-right {
    text-align: right; }
    footer .col-right img {
      height: 50px;
      margin-bottom: 1em; }
      @media only screen and (max-width: 992px) {
        footer .col-right img {
          margin-top: 1.5em;
          margin-bottom: 1.5em; } }
    @media only screen and (max-width: 992px) {
      footer .col-right {
        text-align: center; } }
